@charset "utf-8";

.no-parallax{
    width: 100%;
    min-height: 300px;
}
.parallax-1{
	width: 100%;
	height: 216px;
	background: transparent;
	min-height: 216px;
}
.parallax-2{
	width: 100%;
	height: 292px;
	background: transparent;
}

.row{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 auto;
	height: 216px;
}
